<div class="min-h-full flex items-center justify-center p-4">
    <div class="w-full max-w-lg bg-white rounded-xl shadow-xl p-10 flex flex-col items-center">
        <h1 class="text-3xl font-bold text-gray-800 mb-8">Gerenciamento</h1>

        <div class="w-full space-y-4">
            
            <%= link_to admin_importar_form_path do %>
                <%= render(ButtonComponent.new(text: "Importar dados", variant: :primary, type: :button)) %>
            <% end %>

            <%= link_to admin_edit_templates_path do %>
                <%= render(ButtonComponent.new(text: "Editar Templates", variant: :secondary, type: :button)) %>
            <% end %>
            
            <%= link_to admin_send_forms_path do %>
                <%= render(ButtonComponent.new(text: "Enviar Formulários", variant: :secondary, type: :button)) %>
            <% end %>

            <%= link_to resultados_path do %>
                <%= render(ButtonComponent.new(text: "Resultados", variant: :tertiary, type: :button)) %>
            <% end %>

        </div>
    </div>
</div>